.App {
  height: 100%;
  display: flex;
  flex-direction: column; 
}
::-webkit-scrollbar {
  display:none
}

.HeadBar {
  flex: 0 0;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
  z-index: 2;
}

.AccountStatus {
  display: flex;
  align-items: center;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px; 
  background: #209be4;
  border-bottom: 2px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
}

.Account {
  color: white;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.Name {
  margin: 10px;
  cursor: pointer;
  user-select: none;
}

.Content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  border-bottom: 2px solid gray;
}

.ArticleBody {
  flex: 1 1 800px;
  padding-left: 5%;  
  user-select: none;
  overflow-y: auto;
}

.Editor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  display: flex;
  /* flex-direction: row; */
  align-items: stretch;
  overflow: hidden
}
.ReactCodeMirror {
  flex: 0 0 300px;
}
.CodeMirror {
  flex: 0 0 300px;
  height: 100%;
}
.dragArea {
  background-color: #d4e1e5;
  width: 4px;
}
.dragArea:hover {
  cursor: ew-resize;
}